<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ cocktail.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
  <ion-card-content>

    <ion-list>
      <ion-list-header>
        Instructions
      </ion-list-header>
    </ion-list>
    <p padding>{{cocktail.descriptionPlain}}</p>

    <ion-list>
      <ion-list-header>
        Ingredients
      </ion-list-header>
    </ion-list>
    <ion-row *ngFor="let ingredient of cocktail.ingredients">
      <ion-item width-50>{{ingredient.textPlain}}</ion-item>
    </ion-row>

    <ion-list>
      <ion-list-header>
        Tools
      </ion-list-header>
    </ion-list>
    <ion-row *ngFor="let tool of cocktail.tools">
      <ion-item width-50>{{tool.text}}</ion-item>
    </ion-row>

    <button ion-button (click)="setCocktailAsFavorite(cocktail)">
      Set as Favourite
      <ion-icon name="star"></ion-icon>
    </button>
  
  </ion-card-content>
</ion-card>

</ion-content>
